<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Блюда</title>
</head>
<body>
Меню:
{{#foodList}}
    <div>{{name}}</div>
    <div>{{type}}</div>
    <div>{{description}}</div>
    <div><i>({{price}})</i></div>
{{/foodList}}
</body>
</html>