<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Админ панель для блюд</title>
</head>
<body>
<form action="/food/admin" method="post">
    <div><label> Название блюда<input type="text" name="name"/> </label></div>
    <div><label> К какой кухне относится<input type="text" name="type"/> </label></div>
    <div><label> Описание<input type="text" name="description"/> </label></div>
    <div><label> Цена<input type="text" name="price"/> </label></div>
    <div><input type="submit" value="Добавить"/></div>
</form>
Меню:
{{#foodList}}
    <div>{{name}}</div>
    <div>{{type}}</div>
    <div>{{description}}</div>
    <div><i>({{price}})</i></div>
{{/foodList}}
</body>
</html>