<html>
<head>
    <style>
        .message{
            text-align: center;
            font-family: "Roboto Light",serif;
            font-size: 25px;
        }
    </style>
    <title>Home</title>
</head>

<body>
    <div>
        <form action="/logout" method="post">
            <input type="submit" value="Выйти">
        </form>
    </div>
    <div class="message">
        What are u doing in my SWAAAAAAAAAMP!?
    </div>
</body>
</html>