<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>login</title>
</head>
<body>
Регистрация
{{#message}}
    {{message}}
{{/message}}
<form action="/registration" method="post">
    <div><label> User Name : <input type="text" name="username"/> </label></div>
    <div><label> Password: <input type="password" name="password"/> </label></div>
    <div><input type="submit" value="Зарегистрировать"/></div>
</form>
<a href="/login">Уже есть аккаунт?</a>
</body>
</html>